.work-bg-title {
    padding-top: 125px;
    color: #eee;
    font-size: 140px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.work-title {
    position: relative;
    margin-top: -40px;
    color: #8f8f8f;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}